<h3>Register</h3>
<form action="/admin/register" method="POST">

  <label for="username"><b>Username</b></label>
  <input type="text" placeholder="Enter Username" name="username">

  <label for="password"><b>Password</b></label>
  <input type="password" placeholder="Enter Password" name="password">

  <label for="password2"><b>Confirm Password</b></label>
  <input type="password" placeholder="Enter Password" name="password2">

  <input type="submit" value="Register" class="btn">
  <div class="container"> 
    Already have an account? 
    <a href="/admin">Log in.</a> 
  </div>
</form>